
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}
input[type="text"] {
    padding: 5px;
    font-size: 16px;
}
button {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
}
.cookie-message {
    margin-top: 20px;
    font-weight: bold;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }